<h1>Registrations for <%= link_to @event.name, @event %></h1>
<ul class="registrations">
  <% @registrations.each do |r| %>
    <li>
      <h3><%= link_to r.user.name, r.user %></h3>
      How heard: <%= r.how_heard %>
      <br>
      <%= link_to "Delete", event_registration_path(@event, r), class: "button", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      <%= link_to "Edit", edit_event_registration_path(@event, r), class: "button" %>
      <hr>
    </li>
  <% end %>
</ul>
